<!DOCTYPE html>
<html lang="en">
<head>
	<title>Movie Store</title>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/movies.css">

</head>
<body >

<!--nav barrr-->
<nav class="navbar navbar-expand-lg ">

 <a class="navbar-brand" href="#">Movie Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_movie') }}" method = "post">
  <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Movie" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
  </div>
</nav>



<!--this line makes the card appear in the middle-->



<!--<div class="mvscont">-->

	{% for t in range(total) %}
	<div class="mv-card">
		<div class="mv-header" style="background-image: url({{movies.poster[t]}}); background-size: cover;">
			<div class="header-icon-container">
				<a class="mvs" href="#">
					<i class="fa header-icon"></i>
				</a>
			</div>
		</div><!--movie-header-->

		<div class="mv-content">
			<div class="mv-content-header">
				<a class="mvs" href="{{url_for('show_movie',title = movies.title[t])}}">
					<h3 class="mv-title">{{movies.title[t]}}</h3>
				</a>

				<div class="mvdesc-logo"></div>
			</div>
			<div class="mv-info">

                <div class="info-section">
					<p><a type="button" class="btn btn-warning" href="{{url_for('check_out')}}">Add to cart</a></p>
					<p><a type="button" class="btn btn-outline-success" href="{{url_for('check_out')}}">Buy Now</a></p>


<!--                    {{movies.overview[t]}}-->
                </div>
				<div class="info-section">
					<label style="visibility: hidden;">Time and Date</label>
				</div><!--date,time-->
				<div class="info-section">
					<label>Release Date</label>
					<span>{{movies.release_date[t]}}</span>
				</div><!--screen-->
				<div class="info-section">
					<label>Ratings</label>
					<span>{{movies.ratings[t]}}</span>
				</div><!--row-->

			</div>
		</div><!--movie-content-->
	</div>



	</div><!--movie-card-->
{% endfor %}
<!--</div>&lt;!&ndash;container&ndash;&gt;-->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


</body>