<!DOCTYPE html>
<html lang="en">
<head>
	<title>Movie Store</title>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="static/css/movies.css">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">




</head>
<body >

<!--nav barrr-->
<nav class="navbar navbar-expand-lg ">

 <a class="navbar-brand" href="#">Movie Kart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">




        <a class="nav-link" href="{{url_for('show_cart')}}"><i class="fa fa-solid fa-film"></i></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search_movie') }}" method = "post">
  <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search Movie" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
  </div>
</nav>



<!--this line makes the card appear in the middle-->



<!--<div class="mvscont">-->

	{% for t in range(total) %}
	<div class="mv-card">
		<div class="mv-header" style="background-image: url({{movies.poster[t]}}); background-size: cover;">
			<div class="header-icon-container">
				<a class="mvs" href="#">
					<i class="fa header-icon"></i>
				</a>
			</div>
		</div><!--movie-header-->

		<div class="mv-content">
			<div class="mv-content-header">
				<a class="mvs" href="{{url_for('show_movie',title = movies.title[t])}}">
					<h3 class="mv-title">{{movies.title[t]}}</h3>
				</a>

				<div class="mvdesc-logo"></div>
			</div>
			<div class="mv-info">

                <div class="info-section">

					<p><a type="button" class="btn btn-warning add-to-cart-button" href="{{url_for('add_to_cart',title = movies.title[t] )}}">Add to cart</a></p>
					<form action="create-checkout-session" method="post">
						<input type="hidden" name="m_name" value="{{movies.title[t]}}" />
						  <button type="submit" class="btn btn-outline-success">Buy Now</button>

					</form>



<!--                    {{movies.overview[t]}}-->
                </div>
				<div class="info-section">
					<label style="visibility: hidden;">Time and Date</label>
				</div><!--date,time-->
				<div class="info-section">
					<label>Release Date</label>
					<span>{{movies.release_date[t]}}</span>
				</div><!--screen-->
				<div class="info-section">
					<label>Ratings</label>
					<span>{{movies.ratings[t]}}</span>
				</div><!--row-->

			</div>
		</div><!--movie-content-->
	</div>



	</div><!--movie-card-->
{% endfor %}
<!--</div>&lt;!&ndash;container&ndash;&gt;-->

<script src="static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/bootstrap/js/popper.js"></script>
	<script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$(".add-to-cart-button").click(function () {
  $(this).html('Added to cart');
});
	</script>
<!--===============================================================================================-->
	<script src="static/js/main.js"></script>


</body>